@import vars
@import fonts
@import reset
@import global

body
    font-family: 'Roboto-Regular', sans-serif
    font-weight: 400

.visually-hidden
    display: none

.header
    background: #f9f9f9

.links
    background: #ffa34b
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
    &__list
        display: flex
        gap: 0 20px
    &__list-link
        @extend %title-font
        font-size: 14px
        color: #fff
    &__social   
        display: flex
        align-items: center
        gap: 0 10px
        padding: 0 15px !important
        margin: 0 15px !important
        border-right: 3px solid #ee8225
        border-left: 3px solid #ee8225
    &__social-item  
        flex-basis: 30px
    &__schedules    
        color: #fff
        font-size: 14px
        margin-right: auto
    &__list-item    
        display: flex
        align-items: center
    &__select
        font-size: 14px
        border: 0
        color: #fff
        background-color:#ffa34b
        padding-right: 5px 
        cursor: pointer
    &__option
        cursor: pointer
        text-align: right

.personal-area
    background:#ff9238
    &__link
        display: flex
        padding: 10px 25px
        align-items: center
        font-weight: 500

.info
    border-bottom: 1px solid #e8e8e8
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        padding: 5px
    &__logo
        display: flex
        align-items: center
    &__logo-caption       
        @extend %title-font
        padding-left: 20px
        padding-bottom: 10px
        font-size: 43px
        text-align: center
        color: #5495ff
    &__logo-caption-text
        color: #ffa34b
        line-height: 5px
        letter-spacing: 1.4px
        font-size: 20px
    &__number 
        @extend %title-font
        color: #5495ff
        font-size: 23px
        margin-left: 40px
        margin-right: auto
    &__link 
        @extend %button-request
        margin-right: 30px
        background: #ff941f
    &__location
        display: flex
    &__location-text
        @extend %title-font
        color: #ffa34b
        padding-left: 5px
        max-width: 135px
        font-size: 13px

.nav
    &__list
        display: flex
        justify-content: space-between
    &__list-item
        margin: 20px 0
    &__list-link
        @extend %title-font
        color: #000
        font-size: 14px

.main
    background: #f9f9f9

.preview
    padding: 70px 0 100px
    &__wrapper
        display: flex
        align-items: flex-start
        justify-content: space-between
    &__title
        font-size: 40px
        line-height: 47px
        margin: 88px 0 20px
        color: #222222
    &__text-container
        display: flex
        flex-direction: column
        text-align: start
        line-height: 19px
    &__position
        order: -1
    &__position-point
        color: #C4C4C4
    &__text
        max-width: 468px
        line-height: 25px
        text-align: start
        margin-bottom: 56px
    &__link
        @extend %button-request
        align-self: flex-start
        background: #ff941f

.users
    overflow: hidden
    &__title   
        @extend %title-font
        font-size: 35px 
    &__list 
        display: flex
        justify-content: space-between
    &__list-item    
        display: flex
        opacity: 0
        flex-direction: column
        flex-basis: 170px
        line-height: 24px
        color: #181818
    &__list-item-img
        margin: 60px 0 30px
        background: #5191FF1F
        border-radius: 16px
        padding: 17px
        width: 55px
        height: 55px

.element-show
    transform: translateX(+1000%)
    display: flex !important
    opacity: 1 !important
    animation: ani 2s forwards

@keyframes ani 
    0% 
        opacity: 0
        transform: translateX(+1000%)
    100%
        opacity: 1
        transform: translateY(0)

.advantages
    overflow: hidden
    &__title    
        @extend %title-font
        font-size: 35px 
        margin: 96px 0 67px
    &__list 
        padding: 0 0 40px !important
        display: flex
        flex-direction: column
        gap: 32px 0
    &__list-item
        display: flex
        opacity: 0
        justify-content: start
        align-items: center
        position: relative
        padding-left: 65px
        line-height: 27px
        color: #181818
        &::before 
            content: ""
            position: absolute
            width: 31px
            height: 31px
            left: 0
            background-image: url('/images/marker.svg')
            background-repeat: no-repeat
            background-size: contain
            background-position: center

.advantages__list
    .element-show
        transform: translateX(+200%)
        display: flex !important
        opacity: 1 !important
        animation: ani2 2s forwards

@keyframes ani2 
    0% 
        opacity: 0
        transform: translateX(+200%)
    100%
        opacity: 1
        transform: translateY(0)

.element-show
    &:nth-child(1)
        animation-delay: 0s
    &:nth-child(2)
        animation-delay: 0.2s
    &:nth-child(3)
        animation-delay: 0.4s
    &:nth-child(4)
        animation-delay: 0.6s
    &:nth-child(5)
        animation-delay: 0.8s
    &:nth-child(6)
        animation-delay: 1s

.promotion
    display: flex
    justify-content: center
    align-items: center
    padding-top: 150px 
    &__wrapper
        display: flex
        align-items: center
        justify-content: center
    &__title    
        max-width: 415px
        color: #2D2D2D
    &__caption  
        margin-bottom: 50px
    &__discount 
        @extend %title-font
        background: #FF9522
        border-radius: 7px
        align-self: flex-start
        line-height: 23.71px
        padding: 2px 10px
        order: -1
        color: #fff
    &__img  
        position: relative
        z-index: 10
        padding-left: 70px
        margin-top: -150px
        margin-right: -70px
    &__input
        border-bottom: 1px solid #EFEFEF
        &::placeholder
            font-size: 16px
            color: #181818
    &__btn
        @extend %button-request
        background: #4F8FFD

.start
    padding-top: 130px
    &__title    
        @extend %title-font
        font-size: 35px
        max-width: 780px
    &__text 
        padding-top: 15px 
        line-height: 24px
        color: #181818
    &__list 
        display: flex
        justify-content: space-between
        border-bottom: 1px solid #DDDDDD 
        padding-bottom: 90px !important
    &__list-item
        display: flex
        flex-basis: 224px
        flex-direction: column
        line-height: 24px
        text-align: start
        padding-top: 150px
    &__list-item-img    
        max-width: 120px
        padding-bottom: 30px
    &__list-item-links  
        display: flex
        padding-top: 15px
    &__list-item-link
        border-radius: 9px
        padding: 0 10px
        align-self: center
    &__list-2
        display: flex
        flex-wrap: wrap
        flex-direction: column
        max-height: 450px
        gap: 0 160px
        padding: 100px 20px 0 !important
        list-style: disc !important
    &__list-2-item
        color: #4F8FFD
        height: 100%
        padding-bottom: 30px
        max-width: 425px
    &__list-2-item-text
        display: block
        color: #181818
        margin-left: 18px 
        line-height: 24px

.stages
    padding-top: 150px
    &__title    
        @extend %title-font
        font-size: 35px
    &__list 
        display: flex
        margin-top: 90px 
        counter-reset: section
        gap: 0 100px
    &__list-item
        padding-top: 30px 
        position: relative
        flex-basis: 250px
        color: #181818
        &::before
            display: flex
            justify-content: center
            align-items: center
            background: #4F8FFD
            position: absolute
            width: 20px
            height: 20px
            border-radius: 50%
            counter-increment: section
            content: counter(section)
            outline-offset: 5px 
            outline: 1px dashed #D8D8D8
            font-size: 12px
            color: #fff
            top: 0
        &::after
            position: absolute
            border-top: 0.5px dashed #D8D8D8
            width: 270px
            height: 1px
            content: ""
            right: 0
            left: 25px
            top: 10px
        &:nth-child(4)
            &::after
                border: 0
            

.price
    padding-top: 150px
    &__wrapper
        display: flex
        justify-content: space-between
        flex-direction: row
    &__title    
        @extend %title-font
        font-size: 35px
    &__caption  
        max-width: 370px
    &__select   
        border: 0
        background: #f9f9f9
        margin: 10px 0 45px
    &__text
        line-height: 24px
        color: #181818
    &__card-group
        display: flex
        gap: 0 40px
    &__card 
        padding: 40px 57px 40px 40px
        font-size: 12px
        color: #212121
    &__card-wrapper
        display: flex
        flex-direction: column
        max-width: 190px
        font-size: 16px
    &__service-name
        @extend %title-font
        display: flex
        align-items: center
    &__question
        margin-left: 8px
        cursor: pointer
    &__old-line
        display: flex
        justify-content: end
        text-decoration: line-through
        font-size: 12px
        line-height: 14px
        color:#4B8EFF
    &__old
        @extend %title-font
        color: #212121 !important
        font-size: 12px
        line-height: 14px
    &__link
        @extend %button-request
        background: #ff941f
        padding: 20px 40px
        text-align: center
    &__new  
        @extend %title-font
        font-size: 40px
        line-height: 47px
    &__text-promo   
        color: #fff
        font-size: 12px
        line-height: 14px
        background: #4F8FFD
        border-radius: 4px
        padding: 5px 10px
        text-align: center
        margin-bottom: 20px
    &__initial-fee
        font-size: 12px
        line-height: 14px
        border-top: 1px solid #E4E4E4
        color: rgba(140, 140, 140, 0.56) 
        padding: 15px 0 30px
    &__list 
        list-style: disc !important
        padding-left: 20px !important
    &__list-item  
        font-size: 13px
        line-height: 123.19%
        margin-bottom: 20px 

.price__card
    &:nth-child(2)
        .price__text-promo   
            background: #ff941f

.trainers
    padding-top: 150px
    &__wrapper
        display: flex
        justify-content: space-between
        flex-direction: row
        align-items: center
    &__title
        @extend %title-font
        font-size: 35px
    &__caption
        max-width: 370px
    &__select   
        border: 0
        background: #f9f9f9
        margin: 10px 0 45px
    &__text
        line-height: 24px
        color: #181818
        margin-bottom: 60px
    &__button-group
        display: flex
        flex-direction: row
    &__link
        @extend %button-request
        padding: 14px 30px
        border-radius: 15px
        color: #fff
        background: #4F8FFD
        border: 0
        margin-right: 14px
    &__slider-btn
        position: inherit
        min-width: 51px
        min-height: 51px
        border: 1px solid rgba(46, 42, 68, 0.12)
        border-radius: 16px
        background:#f9f9f9
        margin-right: 5px !important
        padding: 14px !important
        left: 0
        right: 0
    &__slide
        display: flex
        justify-content: flex-end
        margin-top: 70px
        width: 100%
        gap: 0 40px
    &__card
        padding: 30px 0 30px
    &__img
        display: flex
        padding: 0 30px 0
        border-bottom: 1px solid #EFEFEF
    &__name
        @extend %title-font
        padding: 21px 30px 10px
        max-width: 185px
    &__experience
        line-height: 19px
        max-width: 158px
        padding: 0 30px 55px
        color: rgba(140, 140, 140, 0.56) 
    &__rating
        display: flex
        align-items: flex-end
        gap: 0 70px
        line-height: 18px
        max-width: 140px
        padding: 0 30px
        color: #181818
    &__rating-num
        position: relative
        &::before
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            width: 20px
            height: 20px
            border-radius: 50%
            content: url('/images/star_marker.svg')
            font-size: 12px
            color: #fff
            right: 30px

.reviews
    margin-top: 170px
    &__title
        @extend %title-font
        font-size: 35px
        width: 50%

.registration
    margin-top: 164px
    &__container
        overflow: hidden
        position: relative
        padding: 47px 80px 0px !important  
    &__title
        color: #fff !important
        margin-top: 5px !important
    &__img
        position: relative
        z-index: 10
        margin-top: -72px
        margin-left: -332px
        min-width: 100%
    &__form
        position: absolute !important
        z-index: 10 !important
        left: 80px !important
        right: 80px !important
        bottom: 60px !important
    &__btn
        color: #4f8ffd
        background: #fff !important
    &__input
        color:#fff !important
        &::placeholder
            color: #fff !important

.questions
    margin-top: 150px
    &__wrapper
        display: flex
    &__title
        @extend %title-font
        font-size: 35px
        width: 50%
    &__button-group
        width: 50%
    &__accordion
        @extend %title-font
        color:#181818
        background: rgba(0, 0, 0, 0)
        cursor: pointer
        padding: 10px 0
        line-height: 148.19%
        width: 100%
        border: none
        text-align: left
        outline: none
        transition: 0.4s
        &::after
            content: url('/images/marker_accordion.svg')
            color: #777
            font-weight: bold
            float: right
            margin-left: 5px
    &__active
        &::after
            content: url('/images/marker_accordion_active.svg')
    &__panel
        margin-bottom: 20px
        max-height: 0
        overflow: hidden
        transition: max-height 0.2s ease-out

.map
    margin-top: 100px
    &__title
        @extend %title-font
        font-size: 35px
        width: 50%







.swiper 
    max-width: 100%
    height: 100%

.trainers__button-group
    .swiper-button-next,
    .swiper-button-prev
        position: inherit
        margin: 0
        &::after
            content: ""

.feedback-container
    padding: 72px 80px 62px 
.bg-white
    background: #FFFFFF
    border-radius: 30px
.bg-blue
    background: #4f8ffd
    border-radius: 30px
.feedback-caption
    display: flex
.feedback-text
    display: flex
    flex-direction: column
.feedback-title
    @extend %title-font
    margin-top: 15px
    min-width: 415px
    font-size: 35px
    color: #2D2D2D
.feedback-form
    display: flex
    justify-content: space-between
    gap: 0 30px
.feedback-input
    flex-shrink: 1
    flex-basis: 332px
    border: 0
    background: rgba(0,0,0,0)
    border-bottom: 1px solid #EFEFEF
    &::placeholder
        font-size: 16px
        color: #181818
.feedback-btn
    @extend %button-request
    background: #4F8FFD
    border: 0