@import vars
@import fonts
@import reset
@import global

.visually-hidden
    display: none

.swiper 
    max-width: 900px
    height: 300px

.trainers__button-group
    .swiper-button-next,
    .swiper-button-prev
        position: inherit
        margin: 0
        &::after
            content: ""
            padding: 0